ion-radios {
    .radio {
        ion-row {
            background-color: #efefef;
            font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
            padding-top: 3px;
            ion-col {
                position: relative;
                background-color: white;
                border: 2px solid #efefef;
                border-radius: 2px;
                padding: 0px;
                p {
                    margin: 0px;
                    padding: 0px;
                    width: 100%;
                    font-size: 12px;
                    font-family: "黑体-简";
                    font-weight: 300;
                    color: #808080;
                    height: 26px;
                    line-height: 26px;
                    background: rgba(255, 255, 255, 0.8);
                    overflow: hidden;
                    text-indent: 5px;
                }
            }
        }
    }
}
