page-home {
    ion-slides {
        height: 30%;
        img {
            position: relative;
            top: 90px;
        }
        .cover {
            position: absolute;
            bottom: 0px;
            width: 100%;
            height: 20px;
            background: linear-gradient(to right, #673741, #f9537d);
            opacity: 0.6;
        }
        .title {
            position: absolute;
            bottom: 0px;
            width: 96%;
            height: 20px;
            line-height: 20px;
            font-size: 60%;
            left: 5px;
            text-align: center;
            color: white;
        }
    }

    .categories {
        .title {
            font-family: "黑体-简";
            font-weight: 300;
            color: #808080;
            font-size: 80%;
            display: block;
            margin-top: 5px;
        }
        ion-row {
            background-color: #efefef;
            padding: 0px;
        }
        ion-col {
            background-color: white;
        }
    }

    .icon {
        border-radius: 100px;
        color: white;
        background-color: #f8285c;
        font-size: 36px !important;
        padding: 5px;
    }
    .t-header {
        font-family: "黑体-简";
        font-weight: 300;
        color: #f8285c;
        border-left: 2px solid #f8285c;
        border-top: 5px solid #efefef;
        background: white;
    }
}
